*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	list-style-type: none;
}

body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: #ffffff;
}

.header .home-link {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	font-weight: 700;
	text-transform: uppercase;
	color: #4D5AE5;
}

.header .home-link:hover,
.header .home-link:focus {
	color: #404b5f;
}



.header .studio-part {
	color: #2e2f42;
}

.nav .li-header {
	text-decoration: none;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.nav .li-header:hover,
.nav .li-header:focus {
	color: #404bbf;
}

.address {
	font-style: normal;
}

.address .contact {
	text-decoration: none;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #434455;
}

.address .contact:hover,
.address .contact:focus {
	color: #404bbf;
}




.button-class {
	border: none;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.04em;
	text-align: left;
	color: #ffffff;
	background-color: #4d5ae5;
	cursor: pointer;
}

.button-class:hover,
.button-class:focus {
	background-color: #404bbf
}

.heading-two {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
}

.section-one .title {
	font-family: "Roboto";
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: #FFFFFF;
}

.section-one {
	background-color: #2e2f42;
}

.section-two {
	background-color: #F4F4FD;
}

.section-three {
	background-color: #f4f4fd
}

.section-four {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
}

.heading-three {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.item-text {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.text {
	font-family: "roboto";
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
	font-size: 16px;
	font-weight: 400;
}

.list-item {
	background-color: #ffffff;
}


.footer {
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #F4F4FD;
	background-color: #2E2F42;
}

.footer .studio-part {
	color: #F4F4FD;
}

.footer .home-link {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.54px;
	font-weight: 700;
	text-transform: uppercase;
	color: #4D5AE5;
}

.footer .home-link:focus,
.footer .home-link:hover {
	color: #404b5f;
}